[submodule "vim/autoload"]
	path = vim/autoload
	url = https://github.com/RichardBronosky/vim-pathogen.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/latex-suite"]
	path = vim/bundle/latex-suite
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/haskellConceal"]
	path = vim/bundle/haskellConceal
	url = https://github.com/Twinside/vim-haskellConceal.git
[submodule "vim/bundle/color-jellybeans"]
	path = vim/bundle/color-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/color-peaksea"]
	path = vim/bundle/color-peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "vim/bundle/color-solarized"]
	path = vim/bundle/color-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/color-vombato"]
	path = vim/bundle/color-vombato
	url = https://github.com/molok/vim-vombato-colorscheme.git
[submodule "vim/bundle/color-wombat"]
	path = vim/bundle/color-wombat
	url = https://github.com/vim-scripts/Wombat.git
[submodule "vim/bundle/color-zenburn"]
	path = vim/bundle/color-zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/color-darkspectrum"]
	path = vim/bundle/color-darkspectrum
	url = https://github.com/vim-scripts/darkspectrum.git
[submodule "vim/bundle/color-vividchalk"]
	path = vim/bundle/color-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/jslint"]
	path = vim/bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/color-molokai"]
	path = vim/bundle/color-molokai
	url = https://github.com/tomasr/molokai.git
